<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="{{{{ url_for('static', filename='style/getit.css') }}}}">
<meta charset="UTF-8">
<title>Get-it</title>
</head>
<body>

<img src="{{{{ url_for('static', filename='img/logo-getit.png') }}}}">
<p>Como o Post-it, mas com outro verbo</p>
  <form action="/submit" method="POST">
    <label for="titulo">Título</label>
    <input id="titulo" type="text" name="titulo" />
    <label for="detalhes">Detalhes</label>
    <input id="detalhes" name="detalhes" />
    <input type="submit" id="SubmitMessage"/>
  </form>
<li>
<ul>
    {notes}
</ul>
</li>
<script src="{{{{ url_for('static', filename='style/getit.js') }}}}"></script>
</body>
</html>